/* colors - #402626 #252a34 #FF9999  #eaeaea #59B3A5 */
@import url("https://use.typekit.net/cup7bbw.css");

body {
  font-family: sans-serif;
  height: 100%;
  color: #252a34;
  background-image: url('img/dots00.png');
}

/* header */
header {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0;
}

header h2 {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vw;
  margin-bottom: 0;
  text-align: center;
  font-size: 5vw;
  padding-top: 10px;
}

header h6 {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0;
  text-align: center;
  margin-top: 5px;
  font-size: 1.5vw;
  padding-bottom: 10px;
}

header h5 {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 700;
  font-style: normal;
  float: right;
  margin-right: 10%;
  margin-top: 40px;
  font-size: 2.5vw;
}

.top {
  background: #ff9999;
  margin-right: 65%;
  margin-left: 3%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 20px 20px #402626;
}

/* main */
main {
  background: #ff9999;
  padding: 5%;
  margin-right: 10%;
  margin-left: 5%;
  margin-top: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  min-height: 100%;
  margin-bottom: 0;
  position: relative;
  font-family: tgn-soft-round, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 20px 20px #402626;
}

h2.recent {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vw;
  margin-bottom: 0;
  font-size: 4vw;
  padding-top: 15px;
}

img.lefti {
  width: auto;
  max-height: 115px;
  display: inline-block;
  margin: 15px;
  padding-left: 0;
  margin: 0;
  float: right;
  border-radius: 4px;
}
img.centi{
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

img {
  max-width: 200px;
  display: block;
  margin: 15px;
  padding-left: 0;
}

summary {
  outline: none;
}

textarea#post {
  outline: none;
  min-height: fit-content;
  padding: 10px 0 10px 10px;
  font-size: 10pt;
}

summary::marker {
  background-color: #59B3A5;
}

/* video */
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* posts */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  justify-content: space-between;
  width: 95%;
  margin: 2%;
  background: #eaeaeaa8;
  box-sizing: border-box;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 5px 10px #402626;
  border: #402626 solid;
}

.title {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding-left: 15px;
}

div.view {
  margin-top: 10px;
  padding-left: 20px;
  font-family: tgn-soft-round, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: inline-block;
}

h6.view {
  text-transform: capitalize;
  font-weight: 900;
  background: #59B3A5;
  min-width: 100px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  vertical-align: text-top;
}

p.feels {
  text-transform: capitalize;
  text-align: left;
}

/* form */
label {
  font-size: 1rem !important;
  margin-top: 5px !important;
  color: #402626 !important;
  text-transform: uppercase;
  line-height: 2rem;
}

/* links and animations */
a:link {
  color: #402626;
}

a:visited {
  color: #402626;
}

/* mouse over link */
a:hover {
  color: #eaeaea;
  font-weight: 900;
}

/* selected link */
a:active {
  color: #402626;
}

/* effect-shine */
a.effect-shine:hover {
  color: darkred;
  font-weight: 900;
}

a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

/* footer */
footer {
  background: #402626;
  height: 100px;
  position: relative;
  padding: 15px;
  bottom: 0;
  margin-right: 10%;
  margin-left: 5%;
  color: #eaeaea;
  padding-top: 2%;
  font-family: tgn-soft-round, sans-serif;
  font-weight: 700;
  font-style: normal;
  box-shadow: 20px 0px #fb9999;
}

.made {
  float: right;
}

/* some helpful classes*/
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* center a image*/
p.centerpar {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  overflow: auto;
}

.modal {
  position: fixed;
  top: 15%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border: 5px #59B3A5 solid;
  border-radius: 25px;
  z-index: 1;
}

.modal-main {
  position: fixed;
  background: white;
  border: 5px #59B3A5 solid;
  width: 80%;
  border-radius: 25px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.display-block {
  display: block;
}

.display-none {
  display: none;
}

.btn {
  color: #fff;
  background-color: #402626 !important;
}

button {
  color: #fff;
  background-color: #402626 !important;
  padding: 10px;
  border-radius: 15px;
}

.vibes-btn {
  width: 100%
}

input.update-btn {
  background-color: #59B3A5 !important;
  padding: 10px;
  border-radius: 15px;
}

input.post-btn {
  background-color: #59B3A5 !important;
  padding: 5px;
  border-radius: 15px;
  min-width: 100px;
  margin-top: 25px;
}
input.sign-btn {
  background-color: #59B3A5 !important;
  padding: 5px;
  border-radius: 15px;
  min-width: 100px;
  margin-top: 25px;
}

form.edit-sum {
  margin-bottom: 35px;
  width: 100%;
}

summary {
  font-family: tgn-soft-round, sans-serif;
  font-weight: 700;
  font-style: normal;
}

summary::-webkit-details-marker {
  color: #59B3A5;
}

tr {
  border-bottom: none !important;
  padding: 0 !important;
}

td {
  padding: 0 !important;
}

td.feel {
  width: 150px;
  vertical-align: text-top;
}

table {
  margin-bottom: 25px;
}

.edit-sum input::placeholder {
  color: #926d6d !important;
  font-size: 1.5em;
}

/* sign up modal */

h2.signup {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 5vw;
  margin-bottom: 0;
  font-size: 4vw;
  padding-top: 15px;
}

.modal-content {
  position: fixed;
  background: white;
  border: 5px #59B3A5 solid;
  width: 80%;
  border-radius: 25px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2.close {
  margin: 25px;
}


h5.title {
  display: inline-block;
  min-width: 75%;
}
